In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
bird_path = '/content/drive/MyDrive/Colab Notebooks/Capstone Project/sabina.parquet'
climate_path = '/content/drive/MyDrive/Colab Notebooks/Capstone Project/climate_merged_final.csv'
land_path = '/content/drive/MyDrive/Colab Notebooks/Capstone Project/last_version_of_merged_data.csv'

In [6]:
import pandas as pd

# Load files
df_bird = pd.read_parquet(bird_path)
df_climate = pd.read_csv(climate_path)
df_land = pd.read_csv(land_path)

# Preview data
print(df_bird.head())
print(df_climate.head())
print(df_land.head())

<ipython-input-6-58bc316f93fc>:5: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_climate = pd.read_csv(climate_path)

    LATITUDE   LONGITUDE OBSERVATION DATE
0  32.045333 -115.908508          1995-11
1  30.409449 -115.945759          1998-03
2  30.409449 -115.945759          1998-03
3  30.409449 -115.945759          1998-03
4  30.409449 -115.945759          1998-03
    Station_ID     Date  Latitude  Longitude  Elevation State   StationName  \
0  CA001011500  1961-01   48.9333    -123.75       75.0   NaN  BC CHEMAINUS
1  CA001011500  1962-01   48.9333    -123.75       75.0   NaN  BC CHEMAINUS
2  CA001011500  1963-01   48.9333    -123.75       75.0   NaN  BC CHEMAINUS
3  CA001011500  1964-01   48.9333    -123.75       75.0   NaN  BC CHEMAINUS
4  CA001011500  1965-01   48.9333    -123.75       75.0   NaN  BC CHEMAINUS

   Temp_celsius  Precip_mm TempFlags Precip_MeasurementFlag Precip_QCFlag  \
0          5.01      372.3         E                    NaN           NaN
1          3.53      107.4         E                    NaN           NaN
2          1.55       33.5         E                    NaN           NaN
3          4.56      302.5         E                    NaN           NaN
4          2.73      169.4         E                    NaN           NaN

  Precip_SourceFlag  Precip_SourceIndex  Precip_FirstYear  Precip_LastYear
0                 D             23584.0              1919             2024
1                 D             23584.0              1919             2024
2                 D             23584.0              1919             2024
3                 D             23584.0              1919             2024
4                 D             23584.0              1919             2024
   Year     Date  Latitude   Longitude  Region  Land_Cover_Type  \
0  2001  2001-01      83.0 -170.000000  Canada                0
1  2001  2001-01      83.0 -169.949958  Canada                0
2  2001  2001-01      83.0 -169.899917  Canada                0
3  2001  2001-01      83.0 -169.849875  Canada                0
4  2001  2001-01      83.0 -169.799833  Canada                0

  Land_Cover_Description
0                  Water
1                  Water
2                  Water
3                  Water
4                  Water

In [11]:
for i, df in enumerate([df_bird, df_climate, df_land], start=1):
    print(f"DataFrame {i} columns: {df.columns}")

DataFrame 1 columns: Index(['LATITUDE', 'LONGITUDE', 'OBSERVATION DATE'], dtype='object')
DataFrame 2 columns: Index(['Station_ID', 'Date', 'Latitude', 'Longitude', 'Elevation', 'State',
       'StationName', 'Temp_celsius', 'Precip_mm', 'TempFlags',
       'Precip_MeasurementFlag', 'Precip_QCFlag', 'Precip_SourceFlag',
       'Precip_SourceIndex', 'Precip_FirstYear', 'Precip_LastYear'],
      dtype='object')
DataFrame 3 columns: Index(['Year', 'Date', 'Latitude', 'Longitude', 'Region', 'Land_Cover_Type',
       'Land_Cover_Description'],
      dtype='object')

In [12]:
for df in [df_bird, df_climate, df_land]:
    possible_date_columns = ['Date', 'OBSERVATION DATE']
    for col in possible_date_columns:
        if col in df.columns:
            df.rename(columns={col: 'Date'}, inplace=True)
            break  # Stop renaming if a match is found

In [13]:
print(df_bird.head())
print(df_climate.head())
print(df_land.head())

    LATITUDE   LONGITUDE     Date
0  32.045333 -115.908508  1995-11
1  30.409449 -115.945759  1998-03
2  30.409449 -115.945759  1998-03
3  30.409449 -115.945759  1998-03
4  30.409449 -115.945759  1998-03
    Station_ID     Date  Latitude  Longitude  Elevation State   StationName  \
0  CA001011500  1961-01   48.9333    -123.75       75.0   NaN  BC CHEMAINUS
1  CA001011500  1962-01   48.9333    -123.75       75.0   NaN  BC CHEMAINUS
2  CA001011500  1963-01   48.9333    -123.75       75.0   NaN  BC CHEMAINUS
3  CA001011500  1964-01   48.9333    -123.75       75.0   NaN  BC CHEMAINUS
4  CA001011500  1965-01   48.9333    -123.75       75.0   NaN  BC CHEMAINUS

   Temp_celsius  Precip_mm TempFlags Precip_MeasurementFlag Precip_QCFlag  \
0          5.01      372.3         E                    NaN           NaN
1          3.53      107.4         E                    NaN           NaN
2          1.55       33.5         E                    NaN           NaN
3          4.56      302.5         E                    NaN           NaN
4          2.73      169.4         E                    NaN           NaN

  Precip_SourceFlag  Precip_SourceIndex  Precip_FirstYear  Precip_LastYear
0                 D             23584.0              1919             2024
1                 D             23584.0              1919             2024
2                 D             23584.0              1919             2024
3                 D             23584.0              1919             2024
4                 D             23584.0              1919             2024
   Year     Date  Latitude   Longitude  Region  Land_Cover_Type  \
0  2001  2001-01      83.0 -170.000000  Canada                0
1  2001  2001-01      83.0 -169.949958  Canada                0
2  2001  2001-01      83.0 -169.899917  Canada                0
3  2001  2001-01      83.0 -169.849875  Canada                0
4  2001  2001-01      83.0 -169.799833  Canada                0

  Land_Cover_Description
0                  Water
1                  Water
2                  Water
3                  Water
4                  Water

In [14]:
for df in [df_bird, df_climate, df_land]:
    df.rename(columns={'LATITUDE': 'Latitude', 'LONGITUDE': 'Longitude'}, inplace=True)

In [15]:
for i, df in enumerate([df_bird, df_climate, df_land], start=1):
    print(f"Columns in dataframe {i}: {df.columns.tolist()}")

Columns in dataframe 1: ['Latitude', 'Longitude', 'Date']
Columns in dataframe 2: ['Station_ID', 'Date', 'Latitude', 'Longitude', 'Elevation', 'State', 'StationName', 'Temp_celsius', 'Precip_mm', 'TempFlags', 'Precip_MeasurementFlag', 'Precip_QCFlag', 'Precip_SourceFlag', 'Precip_SourceIndex', 'Precip_FirstYear', 'Precip_LastYear']
Columns in dataframe 3: ['Year', 'Date', 'Latitude', 'Longitude', 'Region', 'Land_Cover_Type', 'Land_Cover_Description']

In [16]:
print(df_bird.head())
print(df_climate.head())
print(df_land.head())

    Latitude   Longitude     Date
0  32.045333 -115.908508  1995-11
1  30.409449 -115.945759  1998-03
2  30.409449 -115.945759  1998-03
3  30.409449 -115.945759  1998-03
4  30.409449 -115.945759  1998-03
    Station_ID     Date  Latitude  Longitude  Elevation State   StationName  \
0  CA001011500  1961-01   48.9333    -123.75       75.0   NaN  BC CHEMAINUS
1  CA001011500  1962-01   48.9333    -123.75       75.0   NaN  BC CHEMAINUS
2  CA001011500  1963-01   48.9333    -123.75       75.0   NaN  BC CHEMAINUS
3  CA001011500  1964-01   48.9333    -123.75       75.0   NaN  BC CHEMAINUS
4  CA001011500  1965-01   48.9333    -123.75       75.0   NaN  BC CHEMAINUS

   Temp_celsius  Precip_mm TempFlags Precip_MeasurementFlag Precip_QCFlag  \
0          5.01      372.3         E                    NaN           NaN
1          3.53      107.4         E                    NaN           NaN
2          1.55       33.5         E                    NaN           NaN
3          4.56      302.5         E                    NaN           NaN
4          2.73      169.4         E                    NaN           NaN

  Precip_SourceFlag  Precip_SourceIndex  Precip_FirstYear  Precip_LastYear
0                 D             23584.0              1919             2024
1                 D             23584.0              1919             2024
2                 D             23584.0              1919             2024
3                 D             23584.0              1919             2024
4                 D             23584.0              1919             2024
   Year     Date  Latitude   Longitude  Region  Land_Cover_Type  \
0  2001  2001-01      83.0 -170.000000  Canada                0
1  2001  2001-01      83.0 -169.949958  Canada                0
2  2001  2001-01      83.0 -169.899917  Canada                0
3  2001  2001-01      83.0 -169.849875  Canada                0
4  2001  2001-01      83.0 -169.799833  Canada                0

  Land_Cover_Description
0                  Water
1                  Water
2                  Water
3                  Water
4                  Water

In [21]:
decimal_places = 1  # Change this if you need a different precision

df_bird[['Latitude', 'Longitude']] = df_bird[['Latitude', 'Longitude']].round(decimal_places)
df_climate[['Latitude', 'Longitude']] = df_climate[['Latitude', 'Longitude']].round(decimal_places)
df_land[['Latitude', 'Longitude']] = df_land[['Latitude', 'Longitude']].round(decimal_places)

In [22]:
print(df_bird.head())
print(df_climate.head())
print(df_land.head())

   Latitude  Longitude     Date
0      32.0     -115.9  1995-11
1      30.4     -116.0  1998-03
2      30.4     -116.0  1998-03
3      30.4     -116.0  1998-03
4      30.4     -116.0  1998-03
    Station_ID     Date  Latitude  Longitude  Elevation State   StationName  \
0  CA001011500  1961-01      48.9     -123.8       75.0   NaN  BC CHEMAINUS
1  CA001011500  1962-01      48.9     -123.8       75.0   NaN  BC CHEMAINUS
2  CA001011500  1963-01      48.9     -123.8       75.0   NaN  BC CHEMAINUS
3  CA001011500  1964-01      48.9     -123.8       75.0   NaN  BC CHEMAINUS
4  CA001011500  1965-01      48.9     -123.8       75.0   NaN  BC CHEMAINUS

   Temp_celsius  Precip_mm TempFlags Precip_MeasurementFlag Precip_QCFlag  \
0          5.01      372.3         E                    NaN           NaN
1          3.53      107.4         E                    NaN           NaN
2          1.55       33.5         E                    NaN           NaN
3          4.56      302.5         E                    NaN           NaN
4          2.73      169.4         E                    NaN           NaN

  Precip_SourceFlag  Precip_SourceIndex  Precip_FirstYear  Precip_LastYear
0                 D             23584.0              1919             2024
1                 D             23584.0              1919             2024
2                 D             23584.0              1919             2024
3                 D             23584.0              1919             2024
4                 D             23584.0              1919             2024
   Year     Date  Latitude  Longitude  Region  Land_Cover_Type  \
0  2001  2001-01      83.0     -170.0  Canada                0
1  2001  2001-01      83.0     -170.0  Canada                0
2  2001  2001-01      83.0     -169.9  Canada                0
3  2001  2001-01      83.0     -169.8  Canada                0
4  2001  2001-01      83.0     -169.8  Canada                0

  Land_Cover_Description
0                  Water
1                  Water
2                  Water
3                  Water
4                  Water

In [23]:
df_bird[['Latitude', 'Longitude']] = df_bird[['Latitude', 'Longitude']].astype('float64')
df_climate[['Latitude', 'Longitude']] = df_climate[['Latitude', 'Longitude']].astype('float64')
df_land[['Latitude', 'Longitude']] = df_land[['Latitude', 'Longitude']].astype('float64')

In [24]:
print(df_bird[['Latitude', 'Longitude']].head())
print(df_climate[['Latitude', 'Longitude']].head())
print(df_land[['Latitude', 'Longitude']].head())

   Latitude  Longitude
0      32.0     -115.9
1      30.4     -116.0
2      30.4     -116.0
3      30.4     -116.0
4      30.4     -116.0
   Latitude  Longitude
0      48.9     -123.8
1      48.9     -123.8
2      48.9     -123.8
3      48.9     -123.8
4      48.9     -123.8
   Latitude  Longitude
0      83.0     -170.0
1      83.0     -170.0
2      83.0     -169.9
3      83.0     -169.8
4      83.0     -169.8

In [25]:
print(df_bird[['Latitude', 'Longitude']].applymap(lambda x: len(str(x).split('.')[-1])))
print(df_climate[['Latitude', 'Longitude']].applymap(lambda x: len(str(x).split('.')[-1])))
print(df_land[['Latitude', 'Longitude']].applymap(lambda x: len(str(x).split('.')[-1])))

<ipython-input-25-b7779b7f5b12>:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  print(df_bird[['Latitude', 'Longitude']].applymap(lambda x: len(str(x).split('.')[-1])))

         Latitude  Longitude
0               1          1
1               1          1
2               1          1
3               1          1
4               1          1
...           ...        ...
7498831         1          1
7498832         1          1
7498833         1          1
7498834         1          1
7498835         1          1

[7498836 rows x 2 columns]

<ipython-input-25-b7779b7f5b12>:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  print(df_climate[['Latitude', 'Longitude']].applymap(lambda x: len(str(x).split('.')[-1])))

         Latitude  Longitude
0               1          1
1               1          1
2               1          1
3               1          1
4               1          1
...           ...        ...
1484391         1          1
1484392         1          1
1484393         1          1
1484394         1          1
1484395         1          1

[1484396 rows x 2 columns]

<ipython-input-25-b7779b7f5b12>:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  print(df_land[['Latitude', 'Longitude']].applymap(lambda x: len(str(x).split('.')[-1])))

          Latitude  Longitude
0                1          1
1                1          1
2                1          1
3                1          1
4                1          1
...            ...        ...
74985538         1          1
74985539         1          1
74985540         1          1
74985541         1          1
74985542         1          1

[74985543 rows x 2 columns]

In [27]:
# Find mismatched coordinates using a left merge
mismatched_coords = df_bird.merge(df_land[['Longitude', 'Latitude']],
                                  on=['Longitude', 'Latitude'],
                                  how='left',
                                  indicator=True).query('_merge == "left_only"')

print("Mismatched coordinates in Bird vs Land:", mismatched_coords.shape[0])

mismatched_coords_climate = df_climate.merge(df_land[['Longitude', 'Latitude']],
                                             on=['Longitude', 'Latitude'],
                                             how='left',
                                             indicator=True).query('_merge == "left_only"')

print("Mismatched coordinates in Climate vs Land:", mismatched_coords_climate.shape[0])

Mismatched coordinates in Bird vs Land: 5860
Mismatched coordinates in Climate vs Land: 673

In [30]:
df_bird = df_bird.merge(df_land[['Longitude', 'Latitude']], on=['Longitude', 'Latitude'], how='inner')
df_climate = df_climate.merge(df_land[['Longitude', 'Latitude']], on=['Longitude', 'Latitude'], how='inner')

In [31]:
df_merged = df_bird.merge(df_climate, on=['Longitude', 'Latitude', 'Date'], how='inner') \
                   .merge(df_land, on=['Longitude', 'Latitude', 'Date'], how='inner')

In [32]:
print(df_merged.info())
print(df_merged.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139185190 entries, 0 to 139185189
Data columns (total 20 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Latitude                float64
 1   Longitude               float64
 2   Date                    object
 3   Station_ID              object
 4   Elevation               float64
 5   State                   object
 6   StationName             object
 7   Temp_celsius            float64
 8   Precip_mm               float64
 9   TempFlags               object
 10  Precip_MeasurementFlag  object
 11  Precip_QCFlag           object
 12  Precip_SourceFlag       object
 13  Precip_SourceIndex      float64
 14  Precip_FirstYear        int64
 15  Precip_LastYear         int64
 16  Year                    int64
 17  Region                  object
 18  Land_Cover_Type         int64
 19  Land_Cover_Description  object
dtypes: float64(6), int64(4), object(10)
memory usage: 20.7+ GB
None
   Latitude  Longitude     Date   Station_ID  Elevation State  \
0      49.7     -123.2  2001-01  CA001047671        4.0   NaN
1      49.7     -123.2  2001-01  CA001047671        4.0   NaN
2      49.7     -123.2  2001-01  CA001047671        4.0   NaN
3      49.7     -123.2  2001-01  CA001047671        4.0   NaN
4      49.7     -123.2  2001-01  CA001047671        4.0   NaN

               StationName  Temp_celsius  Precip_mm TempFlags  \
0  BC SQUAMISH STP CENTRAL          3.37      223.1         C
1  BC SQUAMISH STP CENTRAL          3.37      223.1         C
2  BC SQUAMISH STP CENTRAL          3.37      223.1         C
3  BC SQUAMISH STP CENTRAL          3.37      223.1         C
4  BC SQUAMISH STP CENTRAL          3.37      223.1         C

  Precip_MeasurementFlag Precip_QCFlag Precip_SourceFlag  Precip_SourceIndex  \
0                    NaN           NaN                 D             23935.0
1                    NaN           NaN                 D             23935.0
2                    NaN           NaN                 D             23935.0
3                    NaN           NaN                 D             23935.0
4                    NaN           NaN                 D             23935.0

   Precip_FirstYear  Precip_LastYear  Year  Region  Land_Cover_Type  \
0              1986             2005  2001  Canada                1
1              1986             2005  2001  Canada                1
2              1986             2005  2001  Canada                1
3              1986             2005  2001  Canada                1
4              1986             2005  2001  Canada                1

        Land_Cover_Description
0  Evergreen Needleleaf Forest
1  Evergreen Needleleaf Forest
2  Evergreen Needleleaf Forest
3  Evergreen Needleleaf Forest
4  Evergreen Needleleaf Forest

In [34]:
# Check if 'Land_Cover_Description' is in the merged dataset
if 'Land_Cover_Description' not in df_merged.columns:
    df_merged = df_merged.merge(df_land[['Longitude', 'Latitude', 'Date', 'Land_Cover_Description']],
                                on=['Longitude', 'Latitude', 'Date'],
                                how='left')  # Use 'left' to preserve existing data

In [35]:
print(df_merged[['Longitude', 'Latitude', 'Date', 'Land_Cover_Description']].head())

   Longitude  Latitude     Date       Land_Cover_Description
0     -123.2      49.7  2001-01  Evergreen Needleleaf Forest
1     -123.2      49.7  2001-01  Evergreen Needleleaf Forest
2     -123.2      49.7  2001-01  Evergreen Needleleaf Forest
3     -123.2      49.7  2001-01  Evergreen Needleleaf Forest
4     -123.2      49.7  2001-01  Evergreen Needleleaf Forest

In [36]:
print(df_merged.columns)

Index(['Latitude', 'Longitude', 'Date', 'Station_ID', 'Elevation', 'State',
       'StationName', 'Temp_celsius', 'Precip_mm', 'TempFlags',
       'Precip_MeasurementFlag', 'Precip_QCFlag', 'Precip_SourceFlag',
       'Precip_SourceIndex', 'Precip_FirstYear', 'Precip_LastYear', 'Year',
       'Region', 'Land_Cover_Type', 'Land_Cover_Description'],
      dtype='object')

In [37]:
# Ensure Date column is in YYYY-MM format
df_merged['Date'] = pd.to_datetime(df_merged['Date']).dt.to_period('M')

# Define aggregation rules
aggregation_rules = {
    'Temp_celsius': 'mean',    # Average temperature
    'Precip_mm': 'sum',        # Total precipitation
    'Elevation': 'mean',       # Elevation should remain the same
    'Land_Cover_Description': 'first'  # Keep first occurrence (assuming it’s the same)
}

# Perform the monthly aggregation
df_monthly = df_merged.groupby(['Longitude', 'Latitude', 'Date']).agg(aggregation_rules).reset_index()

In [40]:
print(df_monthly.head(100000))

     Longitude  Latitude     Date  Temp_celsius   Precip_mm  Elevation  \
0       -150.0      61.2  2001-01        -2.530    931040.0       25.0
1       -149.9      61.2  2005-01        -9.200   1530291.2       38.4
2       -149.9      61.2  2007-01        -9.310    690662.4       38.4
3       -149.9      61.2  2008-01       -10.950    788844.8       38.4
4       -149.9      61.2  2009-01       -10.800   2214182.4       38.4
..         ...       ...      ...           ...         ...        ...
810      -63.1      46.3  2004-01       -10.930    214985.6       49.0
811      -60.8      46.1  2005-01        -6.910    541696.0       17.0
812      -60.0      45.9  2001-01        -4.850    379187.2       46.0
813      -60.0      46.2  2002-01        -5.210  39946694.4       62.0
814      -60.0      46.2  2006-01        -0.395  18773575.2       62.5

    Land_Cover_Description
0                    Water
1                    Water
2                    Water
3                    Water
4                    Water
..                     ...
810              Croplands
811          Mixed Forests
812          Mixed Forests
813                  Water
814                  Water

[815 rows x 7 columns]

In [42]:
df_monthly.head(1000000)

,Longitude,Latitude,Date,Temp_celsius,Precip_mm,Elevation,Land_Cover_Description
0,-150.0,61.2,2001-01,-2.530,931040.0,25.0,Water
1,-149.9,61.2,2005-01,-9.200,1530291.2,38.4,Water
2,-149.9,61.2,2007-01,-9.310,690662.4,38.4,Water
3,-149.9,61.2,2008-01,-10.950,788844.8,38.4,Water
4,-149.9,61.2,2009-01,-10.800,2214182.4,38.4,Water
...,...,...,...,...,...,...,...
810,-63.1,46.3,2004-01,-10.930,214985.6,49.0,Croplands
811,-60.8,46.1,2005-01,-6.910,541696.0,17.0,Mixed Forests
812,-60.0,45.9,2001-01,-4.850,379187.2,46.0,Mixed Forests
813,-60.0,46.2,2002-01,-5.210,39946694.4,62.0,Water
814,-60.0,46.2,2006-01,-0.395,18773575.2,62.5,Water

In [44]:
output_file = "/content/drive/MyDrive/Colab Notebooks/Capstone Project/harmonized_dataset_Milestone01.csv"
df_monthly.to_csv(output_file, index=False)
print(f"Harmonized dataset saved to: {output_file}")

Harmonized dataset saved to: /content/drive/MyDrive/Colab Notebooks/Capstone Project/harmonized_dataset_Milestone01.csv