In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
bird_path = '/content/drive/MyDrive/Colab Notebooks/Capstone Project/sabina.parquet'
climate_path = '/content/drive/MyDrive/Colab Notebooks/Capstone Project/climate_merged_final.csv'
land_path = '/content/drive/MyDrive/Colab Notebooks/Capstone Project/last_version_of_merged_data.csv'

In [3]:
import pandas as pd

# Load files
df_bird = pd.read_parquet(bird_path)
df_climate = pd.read_csv(climate_path)
df_land = pd.read_csv(land_path)

# Preview data
print(df_bird.head())
print(df_climate.head())
print(df_land.head())

<ipython-input-3-58bc316f93fc>:5: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_climate = pd.read_csv(climate_path)

    LATITUDE   LONGITUDE OBSERVATION DATE
0  32.045333 -115.908508          1995-11
1  30.409449 -115.945759          1998-03
2  30.409449 -115.945759          1998-03
3  30.409449 -115.945759          1998-03
4  30.409449 -115.945759          1998-03
    Station_ID     Date  Latitude  Longitude  Elevation State   StationName  \
0  CA001011500  1961-01   48.9333    -123.75       75.0   NaN  BC CHEMAINUS
1  CA001011500  1962-01   48.9333    -123.75       75.0   NaN  BC CHEMAINUS
2  CA001011500  1963-01   48.9333    -123.75       75.0   NaN  BC CHEMAINUS
3  CA001011500  1964-01   48.9333    -123.75       75.0   NaN  BC CHEMAINUS
4  CA001011500  1965-01   48.9333    -123.75       75.0   NaN  BC CHEMAINUS

   Temp_celsius  Precip_mm TempFlags Precip_MeasurementFlag Precip_QCFlag  \
0          5.01      372.3         E                    NaN           NaN
1          3.53      107.4         E                    NaN           NaN
2          1.55       33.5         E                    NaN           NaN
3          4.56      302.5         E                    NaN           NaN
4          2.73      169.4         E                    NaN           NaN

  Precip_SourceFlag  Precip_SourceIndex  Precip_FirstYear  Precip_LastYear
0                 D             23584.0              1919             2024
1                 D             23584.0              1919             2024
2                 D             23584.0              1919             2024
3                 D             23584.0              1919             2024
4                 D             23584.0              1919             2024
   Year     Date  Latitude   Longitude  Region  Land_Cover_Type  \
0  2001  2001-01      83.0 -170.000000  Canada                0
1  2001  2001-01      83.0 -169.949958  Canada                0
2  2001  2001-01      83.0 -169.899917  Canada                0
3  2001  2001-01      83.0 -169.849875  Canada                0
4  2001  2001-01      83.0 -169.799833  Canada                0

  Land_Cover_Description
0                  Water
1                  Water
2                  Water
3                  Water
4                  Water

In [4]:
for i, df in enumerate([df_bird, df_climate, df_land], start=1):
    print(f"DataFrame {i} columns: {df.columns}")

DataFrame 1 columns: Index(['LATITUDE', 'LONGITUDE', 'OBSERVATION DATE'], dtype='object')
DataFrame 2 columns: Index(['Station_ID', 'Date', 'Latitude', 'Longitude', 'Elevation', 'State',
       'StationName', 'Temp_celsius', 'Precip_mm', 'TempFlags',
       'Precip_MeasurementFlag', 'Precip_QCFlag', 'Precip_SourceFlag',
       'Precip_SourceIndex', 'Precip_FirstYear', 'Precip_LastYear'],
      dtype='object')
DataFrame 3 columns: Index(['Year', 'Date', 'Latitude', 'Longitude', 'Region', 'Land_Cover_Type',
       'Land_Cover_Description'],
      dtype='object')

In [5]:
print("Missing values in df_bird:")
print(df_bird.isnull().sum())

print("\nMissing values in df_climate:")
print(df_climate.isnull().sum())

print("\nMissing values in df_land:")
print(df_land.isnull().sum())

Missing values in df_bird:
LATITUDE            0
LONGITUDE           0
OBSERVATION DATE    0
dtype: int64

Missing values in df_climate:
Station_ID                      0
Date                            0
Latitude                        0
Longitude                       0
Elevation                       0
State                     1445843
StationName                     0
Temp_celsius                    0
Precip_mm                       0
TempFlags                    2117
Precip_MeasurementFlag    1369102
Precip_QCFlag             1481963
Precip_SourceFlag               0
Precip_SourceIndex              0
Precip_FirstYear                0
Precip_LastYear                 0
dtype: int64

Missing values in df_land:
Year                      0
Date                      0
Latitude                  0
Longitude                 0
Region                    0
Land_Cover_Type           0
Land_Cover_Description    0
dtype: int64

In [6]:
print("Data types in df_bird:")
print(df_bird.dtypes)

print("\nData types in df_climate:")
print(df_climate.dtypes)

print("\nData types in df_land:")
print(df_land.dtypes)

Data types in df_bird:
LATITUDE            float64
LONGITUDE           float64
OBSERVATION DATE     object
dtype: object

Data types in df_climate:
Station_ID                 object
Date                       object
Latitude                  float64
Longitude                 float64
Elevation                 float64
State                      object
StationName                object
Temp_celsius              float64
Precip_mm                 float64
TempFlags                  object
Precip_MeasurementFlag     object
Precip_QCFlag              object
Precip_SourceFlag          object
Precip_SourceIndex        float64
Precip_FirstYear            int64
Precip_LastYear             int64
dtype: object

Data types in df_land:
Year                        int64
Date                       object
Latitude                  float64
Longitude                 float64
Region                     object
Land_Cover_Type             int64
Land_Cover_Description     object
dtype: object

In [7]:
print("Duplicate records in df_bird:", df_bird.duplicated().sum())
print("Duplicate records in df_climate:", df_climate.duplicated().sum())
print("Duplicate records in df_land:", df_land.duplicated().sum())

Duplicate records in df_bird: 4454080
Duplicate records in df_climate: 0
Duplicate records in df_land: 0

In [10]:
print("\nSummary statistics for df_bird:")
print(df_bird.describe())

print("\nSummary statistics for df_climate:")
print(df_climate.describe())

print("\nSummary statistics for df_land:")
print(df_land.describe())

Summary statistics for df_bird:
           LATITUDE     LONGITUDE
count  7.498836e+06  7.498836e+06
mean   4.238773e+01 -9.358986e+01
std    6.207601e+00  2.055219e+01
min    1.934370e+01 -1.790633e+02
25%    3.912949e+01 -1.140327e+02
50%    4.240090e+01 -8.596323e+01
75%    4.621175e+01 -7.676376e+01
max    7.315889e+01  1.792826e+02

Summary statistics for df_climate:
           Latitude     Longitude     Elevation  Temp_celsius     Precip_mm  \
count  1.484396e+06  1.484396e+06  1.484396e+06  1.484396e+06  1.484396e+06
mean   4.555800e+01 -9.750621e+01  6.590975e+02  6.156709e+00  7.430306e+01
std    7.852349e+00  2.121039e+01  8.109278e+02  1.192370e+01  7.159725e+01
min    1.491700e+01 -1.766500e+02 -9.999000e+02 -9.999000e+01  0.000000e+00
25%    4.156330e+01 -1.145833e+02  1.020000e+02 -1.590000e+00  2.720000e+01
50%    4.605000e+01 -1.003167e+02  3.200000e+02  7.340000e+00  5.840000e+01
75%    4.981670e+01 -7.893330e+01  8.060000e+02  1.497000e+01  9.940000e+01
max    8.251670e+01 -5.266670e+01  3.541800e+03  4.089000e+01  2.522200e+03

       Precip_SourceIndex  Precip_FirstYear  Precip_LastYear
count        1.484396e+06      1.484396e+06     1.484396e+06
mean         4.555581e+04      1.955619e+03     2.011661e+03
std          2.273171e+04      2.983165e+01     1.502053e+01
min          2.358400e+04      1.827000e+03     1.961000e+03
25%          2.733175e+04      1.942000e+03     2.003000e+03
50%          3.037800e+04      1.962000e+03     2.018000e+03
75%          7.217300e+04      1.978000e+03     2.024000e+03
max          1.221640e+05      2.010000e+03     2.024000e+03

Summary statistics for df_land:
               Year      Latitude     Longitude  Land_Cover_Type
count  7.498554e+07  7.498554e+07  7.498554e+07     7.498554e+07
mean   2.012000e+03  4.900000e+01 -1.100000e+02     3.461097e+00
std    6.633250e+00  1.964436e+01  3.465546e+01     4.946622e+00
min    2.001000e+03  1.500000e+01 -1.700000e+02     0.000000e+00
25%    2.006000e+03  3.197496e+01 -1.400250e+02     0.000000e+00
50%    2.012000e+03  4.900000e+01 -1.100000e+02     0.000000e+00
75%    2.018000e+03  6.602504e+01 -7.997498e+01     8.000000e+00
max    2.023000e+03  8.300000e+01 -5.000000e+01     1.600000e+01

In [11]:
for df in [df_bird, df_climate, df_land]:
    possible_date_columns = ['Date', 'OBSERVATION DATE']
    for col in possible_date_columns:
        if col in df.columns:
            df.rename(columns={col: 'Date'}, inplace=True)
            break  # Stop renaming if a match is found

In [12]:
print(df_bird.head())
print(df_climate.head())
print(df_land.head())

    LATITUDE   LONGITUDE     Date
0  32.045333 -115.908508  1995-11
1  30.409449 -115.945759  1998-03
2  30.409449 -115.945759  1998-03
3  30.409449 -115.945759  1998-03
4  30.409449 -115.945759  1998-03
    Station_ID     Date  Latitude  Longitude  Elevation State   StationName  \
0  CA001011500  1961-01   48.9333    -123.75       75.0   NaN  BC CHEMAINUS
1  CA001011500  1962-01   48.9333    -123.75       75.0   NaN  BC CHEMAINUS
2  CA001011500  1963-01   48.9333    -123.75       75.0   NaN  BC CHEMAINUS
3  CA001011500  1964-01   48.9333    -123.75       75.0   NaN  BC CHEMAINUS
4  CA001011500  1965-01   48.9333    -123.75       75.0   NaN  BC CHEMAINUS

   Temp_celsius  Precip_mm TempFlags Precip_MeasurementFlag Precip_QCFlag  \
0          5.01      372.3         E                    NaN           NaN
1          3.53      107.4         E                    NaN           NaN
2          1.55       33.5         E                    NaN           NaN
3          4.56      302.5         E                    NaN           NaN
4          2.73      169.4         E                    NaN           NaN

  Precip_SourceFlag  Precip_SourceIndex  Precip_FirstYear  Precip_LastYear
0                 D             23584.0              1919             2024
1                 D             23584.0              1919             2024
2                 D             23584.0              1919             2024
3                 D             23584.0              1919             2024
4                 D             23584.0              1919             2024
   Year     Date  Latitude   Longitude  Region  Land_Cover_Type  \
0  2001  2001-01      83.0 -170.000000  Canada                0
1  2001  2001-01      83.0 -169.949958  Canada                0
2  2001  2001-01      83.0 -169.899917  Canada                0
3  2001  2001-01      83.0 -169.849875  Canada                0
4  2001  2001-01      83.0 -169.799833  Canada                0

  Land_Cover_Description
0                  Water
1                  Water
2                  Water
3                  Water
4                  Water

In [13]:
for df in [df_bird, df_climate, df_land]:
    df.rename(columns={'LATITUDE': 'Latitude', 'LONGITUDE': 'Longitude'}, inplace=True)

In [14]:
for i, df in enumerate([df_bird, df_climate, df_land], start=1):
    print(f"Columns in dataframe {i}: {df.columns.tolist()}")

Columns in dataframe 1: ['Latitude', 'Longitude', 'Date']
Columns in dataframe 2: ['Station_ID', 'Date', 'Latitude', 'Longitude', 'Elevation', 'State', 'StationName', 'Temp_celsius', 'Precip_mm', 'TempFlags', 'Precip_MeasurementFlag', 'Precip_QCFlag', 'Precip_SourceFlag', 'Precip_SourceIndex', 'Precip_FirstYear', 'Precip_LastYear']
Columns in dataframe 3: ['Year', 'Date', 'Latitude', 'Longitude', 'Region', 'Land_Cover_Type', 'Land_Cover_Description']

In [15]:
print(df_bird.head())
print(df_climate.head())
print(df_land.head())

    Latitude   Longitude     Date
0  32.045333 -115.908508  1995-11
1  30.409449 -115.945759  1998-03
2  30.409449 -115.945759  1998-03
3  30.409449 -115.945759  1998-03
4  30.409449 -115.945759  1998-03
    Station_ID     Date  Latitude  Longitude  Elevation State   StationName  \
0  CA001011500  1961-01   48.9333    -123.75       75.0   NaN  BC CHEMAINUS
1  CA001011500  1962-01   48.9333    -123.75       75.0   NaN  BC CHEMAINUS
2  CA001011500  1963-01   48.9333    -123.75       75.0   NaN  BC CHEMAINUS
3  CA001011500  1964-01   48.9333    -123.75       75.0   NaN  BC CHEMAINUS
4  CA001011500  1965-01   48.9333    -123.75       75.0   NaN  BC CHEMAINUS

   Temp_celsius  Precip_mm TempFlags Precip_MeasurementFlag Precip_QCFlag  \
0          5.01      372.3         E                    NaN           NaN
1          3.53      107.4         E                    NaN           NaN
2          1.55       33.5         E                    NaN           NaN
3          4.56      302.5         E                    NaN           NaN
4          2.73      169.4         E                    NaN           NaN

  Precip_SourceFlag  Precip_SourceIndex  Precip_FirstYear  Precip_LastYear
0                 D             23584.0              1919             2024
1                 D             23584.0              1919             2024
2                 D             23584.0              1919             2024
3                 D             23584.0              1919             2024
4                 D             23584.0              1919             2024
   Year     Date  Latitude   Longitude  Region  Land_Cover_Type  \
0  2001  2001-01      83.0 -170.000000  Canada                0
1  2001  2001-01      83.0 -169.949958  Canada                0
2  2001  2001-01      83.0 -169.899917  Canada                0
3  2001  2001-01      83.0 -169.849875  Canada                0
4  2001  2001-01      83.0 -169.799833  Canada                0

  Land_Cover_Description
0                  Water
1                  Water
2                  Water
3                  Water
4                  Water

In [16]:
def check_coordinates(df, name):
    print(f"\nChecking coordinates in {name}:")
    print("Invalid Latitude:", ((df['Latitude'] < -90) | (df['Latitude'] > 90)).sum())
    print("Invalid Longitude:", ((df['Longitude'] < -180) | (df['Longitude'] > 180)).sum())

check_coordinates(df_bird, "df_bird")
check_coordinates(df_climate, "df_climate")
check_coordinates(df_land, "df_land")

Checking coordinates in df_bird:
Invalid Latitude: 0
Invalid Longitude: 0

Checking coordinates in df_climate:
Invalid Latitude: 0
Invalid Longitude: 0

Checking coordinates in df_land:
Invalid Latitude: 0
Invalid Longitude: 0

In [17]:
bird_coords = set(zip(df_bird['Longitude'], df_bird['Latitude']))
climate_coords = set(zip(df_climate['Longitude'], df_climate['Latitude']))
land_coords = set(zip(df_land['Longitude'], df_land['Latitude']))

# Check if all bird and climate coordinates exist in land dataset
bird_mismatch = bird_coords - land_coords
climate_mismatch = climate_coords - land_coords

print("\nMismatched Bird Coordinates:", len(bird_mismatch))
print("Mismatched Climate Coordinates:", len(climate_mismatch))

Mismatched Bird Coordinates: 1111383
Mismatched Climate Coordinates: 6812

In [18]:
df_bird['Latitude'] = df_bird['Latitude'].round(1)
df_bird['Longitude'] = df_bird['Longitude'].round(2)

df_climate['Latitude'] = df_climate['Latitude'].round(1)
df_climate['Longitude'] = df_climate['Longitude'].round(2)

df_land['Latitude'] = df_land['Latitude'].round(1)
df_land['Longitude'] = df_land['Longitude'].round(2)

In [19]:
print(df_bird.head())
print(df_climate.head())
print(df_land.head())

   Latitude  Longitude     Date
0      32.0    -115.91  1995-11
1      30.4    -115.95  1998-03
2      30.4    -115.95  1998-03
3      30.4    -115.95  1998-03
4      30.4    -115.95  1998-03
    Station_ID     Date  Latitude  Longitude  Elevation State   StationName  \
0  CA001011500  1961-01      48.9    -123.75       75.0   NaN  BC CHEMAINUS
1  CA001011500  1962-01      48.9    -123.75       75.0   NaN  BC CHEMAINUS
2  CA001011500  1963-01      48.9    -123.75       75.0   NaN  BC CHEMAINUS
3  CA001011500  1964-01      48.9    -123.75       75.0   NaN  BC CHEMAINUS
4  CA001011500  1965-01      48.9    -123.75       75.0   NaN  BC CHEMAINUS

   Temp_celsius  Precip_mm TempFlags Precip_MeasurementFlag Precip_QCFlag  \
0          5.01      372.3         E                    NaN           NaN
1          3.53      107.4         E                    NaN           NaN
2          1.55       33.5         E                    NaN           NaN
3          4.56      302.5         E                    NaN           NaN
4          2.73      169.4         E                    NaN           NaN

  Precip_SourceFlag  Precip_SourceIndex  Precip_FirstYear  Precip_LastYear
0                 D             23584.0              1919             2024
1                 D             23584.0              1919             2024
2                 D             23584.0              1919             2024
3                 D             23584.0              1919             2024
4                 D             23584.0              1919             2024
   Year     Date  Latitude  Longitude  Region  Land_Cover_Type  \
0  2001  2001-01      83.0    -170.00  Canada                0
1  2001  2001-01      83.0    -169.95  Canada                0
2  2001  2001-01      83.0    -169.90  Canada                0
3  2001  2001-01      83.0    -169.85  Canada                0
4  2001  2001-01      83.0    -169.80  Canada                0

  Land_Cover_Description
0                  Water
1                  Water
2                  Water
3                  Water
4                  Water

In [20]:
df_bird[['Latitude', 'Longitude']] = df_bird[['Latitude', 'Longitude']].astype('float64')
df_climate[['Latitude', 'Longitude']] = df_climate[['Latitude', 'Longitude']].astype('float64')
df_land[['Latitude', 'Longitude']] = df_land[['Latitude', 'Longitude']].astype('float64')

In [21]:
print(df_bird[['Latitude', 'Longitude']].head())
print(df_climate[['Latitude', 'Longitude']].head())
print(df_land[['Latitude', 'Longitude']].head())

   Latitude  Longitude
0      32.0    -115.91
1      30.4    -115.95
2      30.4    -115.95
3      30.4    -115.95
4      30.4    -115.95
   Latitude  Longitude
0      48.9    -123.75
1      48.9    -123.75
2      48.9    -123.75
3      48.9    -123.75
4      48.9    -123.75
   Latitude  Longitude
0      83.0    -170.00
1      83.0    -169.95
2      83.0    -169.90
3      83.0    -169.85
4      83.0    -169.80

In [22]:
print(df_bird[['Latitude', 'Longitude']].applymap(lambda x: len(str(x).split('.')[-1])))
print(df_climate[['Latitude', 'Longitude']].applymap(lambda x: len(str(x).split('.')[-1])))
print(df_land[['Latitude', 'Longitude']].applymap(lambda x: len(str(x).split('.')[-1])))

<ipython-input-22-b7779b7f5b12>:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  print(df_bird[['Latitude', 'Longitude']].applymap(lambda x: len(str(x).split('.')[-1])))

         Latitude  Longitude
0               1          2
1               1          2
2               1          2
3               1          2
4               1          2
...           ...        ...
7498831         1          2
7498832         1          2
7498833         1          2
7498834         1          2
7498835         1          2

[7498836 rows x 2 columns]

<ipython-input-22-b7779b7f5b12>:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  print(df_climate[['Latitude', 'Longitude']].applymap(lambda x: len(str(x).split('.')[-1])))

         Latitude  Longitude
0               1          2
1               1          2
2               1          2
3               1          2
4               1          2
...           ...        ...
1484391         1          2
1484392         1          2
1484393         1          2
1484394         1          2
1484395         1          2

[1484396 rows x 2 columns]

<ipython-input-22-b7779b7f5b12>:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  print(df_land[['Latitude', 'Longitude']].applymap(lambda x: len(str(x).split('.')[-1])))

          Latitude  Longitude
0                1          1
1                1          2
2                1          1
3                1          2
4                1          1
...            ...        ...
74985538         1          1
74985539         1          2
74985540         1          1
74985541         1          2
74985542         1          1

[74985543 rows x 2 columns]

In [23]:
# Find mismatched coordinates using a left merge
mismatched_coords = df_bird.merge(df_land[['Longitude', 'Latitude']],
                                  on=['Longitude', 'Latitude'],
                                  how='left',
                                  indicator=True).query('_merge == "left_only"')

print("Mismatched coordinates in Bird vs Land:", mismatched_coords.shape[0])

mismatched_coords_climate = df_climate.merge(df_land[['Longitude', 'Latitude']],
                                             on=['Longitude', 'Latitude'],
                                             how='left',
                                             indicator=True).query('_merge == "left_only"')

print("Mismatched coordinates in Climate vs Land:", mismatched_coords_climate.shape[0])

Mismatched coordinates in Bird vs Land: 6013034
Mismatched coordinates in Climate vs Land: 1215969

In [24]:
df_bird = df_bird.merge(df_land[['Longitude', 'Latitude']], on=['Longitude', 'Latitude'], how='inner')
df_climate = df_climate.merge(df_land[['Longitude', 'Latitude']], on=['Longitude', 'Latitude'], how='inner')

In [25]:
df_merged = df_bird.merge(df_climate, on=['Longitude', 'Latitude', 'Date'], how='inner') \
                   .merge(df_land, on=['Longitude', 'Latitude', 'Date'], how='inner')

In [26]:
print(df_merged.info())
print(df_merged.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 698280 entries, 0 to 698279
Data columns (total 20 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Latitude                698280 non-null  float64
 1   Longitude               698280 non-null  float64
 2   Date                    698280 non-null  object
 3   Station_ID              698280 non-null  object
 4   Elevation               698280 non-null  float64
 5   State                   0 non-null       object
 6   StationName             698280 non-null  object
 7   Temp_celsius            698280 non-null  float64
 8   Precip_mm               698280 non-null  float64
 9   TempFlags               698280 non-null  object
 10  Precip_MeasurementFlag  97336 non-null   object
 11  Precip_QCFlag           0 non-null       object
 12  Precip_SourceFlag       698280 non-null  object
 13  Precip_SourceIndex      698280 non-null  float64
 14  Precip_FirstYear        698280 non-null  int64
 15  Precip_LastYear         698280 non-null  int64
 16  Year                    698280 non-null  int64
 17  Region                  698280 non-null  object
 18  Land_Cover_Type         698280 non-null  int64
 19  Land_Cover_Description  698280 non-null  object
dtypes: float64(6), int64(4), object(10)
memory usage: 106.5+ MB
None
   Latitude  Longitude     Date   Station_ID  Elevation State  \
0      42.3     -82.93  2001-01  CA006139520      188.0   NaN
1      42.3     -82.93  2001-01  CA006139520      188.0   NaN
2      42.3     -82.93  2001-01  CA006139520      188.0   NaN
3      42.3     -82.93  2001-01  CA006139520      188.0   NaN
4      42.3     -82.93  2001-01  CA006139520      188.0   NaN

            StationName  Temp_celsius  Precip_mm TempFlags  \
0  ON WINDSOR RIVERSIDE         -2.59       31.0       EXC
1  ON WINDSOR RIVERSIDE         -2.59       31.0       EXC
2  ON WINDSOR RIVERSIDE         -2.59       31.0       EXC
3  ON WINDSOR RIVERSIDE         -2.59       31.0       EXC
4  ON WINDSOR RIVERSIDE         -2.59       31.0       EXC

  Precip_MeasurementFlag Precip_QCFlag Precip_SourceFlag  Precip_SourceIndex  \
0                    NaN           NaN                 D             29101.0
1                    NaN           NaN                 D             29101.0
2                    NaN           NaN                 D             29101.0
3                    NaN           NaN                 D             29101.0
4                    NaN           NaN                 D             29101.0

   Precip_FirstYear  Precip_LastYear  Year Region  Land_Cover_Type  \
0              1866             2024  2001     US               13
1              1866             2024  2001     US               13
2              1866             2024  2001     US               13
3              1866             2024  2001     US               13
4              1866             2024  2001     US               13

  Land_Cover_Description
0     Urban and Built-up
1     Urban and Built-up
2     Urban and Built-up
3     Urban and Built-up
4     Urban and Built-up

In [27]:
# Check if 'Land_Cover_Description' is in the merged dataset
if 'Land_Cover_Description' not in df_merged.columns:
    df_merged = df_merged.merge(df_land[['Longitude', 'Latitude', 'Date', 'Land_Cover_Description']],
                                on=['Longitude', 'Latitude', 'Date'],
                                how='left')  # Use 'left' to preserve existing data

In [28]:
print(df_merged[['Longitude', 'Latitude', 'Date', 'Land_Cover_Description']].head())

   Longitude  Latitude     Date Land_Cover_Description
0     -82.93      42.3  2001-01     Urban and Built-up
1     -82.93      42.3  2001-01     Urban and Built-up
2     -82.93      42.3  2001-01     Urban and Built-up
3     -82.93      42.3  2001-01     Urban and Built-up
4     -82.93      42.3  2001-01     Urban and Built-up

In [29]:
print(df_merged.columns)

Index(['Latitude', 'Longitude', 'Date', 'Station_ID', 'Elevation', 'State',
       'StationName', 'Temp_celsius', 'Precip_mm', 'TempFlags',
       'Precip_MeasurementFlag', 'Precip_QCFlag', 'Precip_SourceFlag',
       'Precip_SourceIndex', 'Precip_FirstYear', 'Precip_LastYear', 'Year',
       'Region', 'Land_Cover_Type', 'Land_Cover_Description'],
      dtype='object')

In [30]:
# Ensure Date column is in YYYY-MM format
df_merged['Date'] = pd.to_datetime(df_merged['Date']).dt.to_period('M')

# Define aggregation rules
aggregation_rules = {
    'Temp_celsius': 'mean',    # Average temperature
    'Precip_mm': 'sum',        # Total precipitation
    'Elevation': 'mean',       # Elevation should remain the same
    'Land_Cover_Description': 'first'  # Keep first occurrence (assuming it’s the same)
}

# Perform the monthly aggregation
df_monthly = df_merged.groupby(['Longitude', 'Latitude', 'Date']).agg(aggregation_rules).reset_index()

In [31]:
print(df_monthly.head(100000))

    Longitude  Latitude     Date  Temp_celsius  Precip_mm  Elevation  \
0     -128.62      54.5  2007-01         -0.62   909033.6       58.0
1     -123.51      48.1  2009-01          3.77   344061.6       83.2
2     -123.36      43.2  2010-01          9.72   477792.8      153.0
3     -122.21      47.5  2004-01          5.54  6509239.2        5.5
4     -122.21      47.5  2006-01          7.56  2487569.6        5.5
5     -122.21      47.5  2007-01          4.16  5014920.0        5.5
6     -122.21      47.5  2008-01          4.21   754988.8        5.5
7     -122.21      47.5  2009-01          4.46  2209104.0        5.5
8     -122.21      47.5  2010-01          8.58   606022.4        5.5
9     -119.26      45.8  2005-01          1.06    53746.4      195.1
10    -106.80      37.5  2001-01         -7.83   591210.4     3352.8
11    -104.85      39.6  2001-01         -0.26   146427.2     1789.2
12    -104.85      39.6  2002-01         -0.34    52053.6     1789.2
13    -104.85      39.6  2003-01          3.65     5501.6     1789.2
14    -104.85      39.6  2004-01          1.10   186631.2     1789.2
15    -104.85      39.6  2005-01          1.96   487526.4     1789.2
16    -104.85      39.6  2006-01          3.64   820161.6     1789.2
17    -104.85      39.6  2007-01         -4.78  1625088.0     1789.2
18    -104.85      39.6  2008-01         -2.25  1250132.8     1789.2
19    -104.85      39.6  2009-01          2.06   150236.0     1789.2
20    -104.85      39.6  2010-01          0.19    13965.6     1789.2
21     -89.73      43.3  2001-01         -5.70   120188.8      237.7
22     -89.73      43.3  2003-01         -7.79    88025.6      237.7
23     -89.73      43.3  2005-01         -7.29   676696.8      237.7
24     -89.73      43.3  2006-01         -0.14   200173.6      237.7
25     -89.73      43.3  2007-01         -4.66   555238.4      237.7
26     -89.73      43.3  2008-01         -8.10   393576.0      237.7
27     -84.33      46.5  2001-01         -6.43   288199.2      212.0
28     -82.93      42.3  2001-01         -2.59   131192.0      188.0
29     -82.93      42.3  2004-01         -6.17   231067.2      188.0
30     -82.93      42.3  2009-01         -7.37   249264.8      188.0
31     -82.93      42.3  2010-01         -3.42   331365.6      188.0
32     -78.17      44.0  2004-01        -10.12   746524.8       78.0
33     -78.17      44.0  2005-01         -7.23   245456.0       78.0
34     -76.42      38.3  2001-01          1.57   212869.6       11.9
35     -76.42      38.3  2003-01         -0.46   266192.8       11.9
36     -76.42      38.3  2007-01          4.63   282274.4       11.9
37     -75.72      45.4  2003-01        -12.90   204405.6       79.0
38     -75.72      45.4  2006-01         -5.17  1802832.0       79.0
39     -75.72      45.4  2007-01         -7.50   515034.4       79.0
40     -75.12      38.3  2004-01         -0.10   335597.6        1.8
41     -75.12      38.3  2005-01          2.39   476100.0        1.8
42     -75.12      38.3  2008-01          3.13   168433.6        1.8
43     -75.12      38.3  2010-01          1.25  1117248.0        1.8
44     -74.62      46.0  2005-01        -13.09   177744.0      191.0
45     -70.22      44.1  2010-01         -4.85   714361.6       54.9
46     -68.52      48.4  2002-01         -9.15   191709.6       36.0
47     -68.52      48.4  2009-01        -14.05   423200.0       36.0
48     -68.52      48.4  2010-01         -5.68   165048.0       36.0

         Land_Cover_Description
0                      Savannas
1                         Water
2   Evergreen Needleleaf Forest
3   Evergreen Needleleaf Forest
4   Evergreen Needleleaf Forest
5   Evergreen Needleleaf Forest
6   Evergreen Needleleaf Forest
7   Evergreen Needleleaf Forest
8   Evergreen Needleleaf Forest
9            Urban and Built-up
10               Woody Savannas
11           Urban and Built-up
12           Urban and Built-up
13           Urban and Built-up
14           Urban and Built-up
15           Urban and Built-up
16           Urban and Built-up
17           Urban and Built-up
18           Urban and Built-up
19           Urban and Built-up
20           Urban and Built-up
21                    Croplands
22                    Croplands
23                    Croplands
24                    Croplands
25                    Croplands
26                    Croplands
27               Woody Savannas
28           Urban and Built-up
29           Urban and Built-up
30           Urban and Built-up
31           Urban and Built-up
32                    Croplands
33                    Croplands
34   Deciduous Broadleaf Forest
35               Woody Savannas
36   Deciduous Broadleaf Forest
37                     Savannas
38           Urban and Built-up
39           Urban and Built-up
40                     Savannas
41               Woody Savannas
42                     Savannas
43                     Savannas
44               Woody Savannas
45   Deciduous Broadleaf Forest
46                        Water
47                        Water
48                        Water

In [32]:
df_monthly.head(1000000)

,Longitude,Latitude,Date,Temp_celsius,Precip_mm,Elevation,Land_Cover_Description
0,-128.62,54.5,2007-01,-0.62,909033.6,58.0,Savannas
1,-123.51,48.1,2009-01,3.77,344061.6,83.2,Water
2,-123.36,43.2,2010-01,9.72,477792.8,153.0,Evergreen Needleleaf Forest
3,-122.21,47.5,2004-01,5.54,6509239.2,5.5,Evergreen Needleleaf Forest
4,-122.21,47.5,2006-01,7.56,2487569.6,5.5,Evergreen Needleleaf Forest
5,-122.21,47.5,2007-01,4.16,5014920.0,5.5,Evergreen Needleleaf Forest
6,-122.21,47.5,2008-01,4.21,754988.8,5.5,Evergreen Needleleaf Forest
7,-122.21,47.5,2009-01,4.46,2209104.0,5.5,Evergreen Needleleaf Forest
8,-122.21,47.5,2010-01,8.58,606022.4,5.5,Evergreen Needleleaf Forest
9,-119.26,45.8,2005-01,1.06,53746.4,195.1,Urban and Built-up
10,-106.80,37.5,2001-01,-7.83,591210.4,3352.8,Woody Savannas
11,-104.85,39.6,2001-01,-0.26,146427.2,1789.2,Urban and Built-up
12,-104.85,39.6,2002-01,-0.34,52053.6,1789.2,Urban and Built-up
13,-104.85,39.6,2003-01,3.65,5501.6,1789.2,Urban and Built-up
14,-104.85,39.6,2004-01,1.10,186631.2,1789.2,Urban and Built-up
15,-104.85,39.6,2005-01,1.96,487526.4,1789.2,Urban and Built-up
16,-104.85,39.6,2006-01,3.64,820161.6,1789.2,Urban and Built-up
17,-104.85,39.6,2007-01,-4.78,1625088.0,1789.2,Urban and Built-up
18,-104.85,39.6,2008-01,-2.25,1250132.8,1789.2,Urban and Built-up
19,-104.85,39.6,2009-01,2.06,150236.0,1789.2,Urban and Built-up
20,-104.85,39.6,2010-01,0.19,13965.6,1789.2,Urban and Built-up
21,-89.73,43.3,2001-01,-5.70,120188.8,237.7,Croplands
22,-89.73,43.3,2003-01,-7.79,88025.6,237.7,Croplands
23,-89.73,43.3,2005-01,-7.29,676696.8,237.7,Croplands
24,-89.73,43.3,2006-01,-0.14,200173.6,237.7,Croplands
25,-89.73,43.3,2007-01,-4.66,555238.4,237.7,Croplands
26,-89.73,43.3,2008-01,-8.10,393576.0,237.7,Croplands
27,-84.33,46.5,2001-01,-6.43,288199.2,212.0,Woody Savannas
28,-82.93,42.3,2001-01,-2.59,131192.0,188.0,Urban and Built-up
29,-82.93,42.3,2004-01,-6.17,231067.2,188.0,Urban and Built-up
30,-82.93,42.3,2009-01,-7.37,249264.8,188.0,Urban and Built-up
31,-82.93,42.3,2010-01,-3.42,331365.6,188.0,Urban and Built-up
32,-78.17,44.0,2004-01,-10.12,746524.8,78.0,Croplands
33,-78.17,44.0,2005-01,-7.23,245456.0,78.0,Croplands
34,-76.42,38.3,2001-01,1.57,212869.6,11.9,Deciduous Broadleaf Forest
35,-76.42,38.3,2003-01,-0.46,266192.8,11.9,Woody Savannas
36,-76.42,38.3,2007-01,4.63,282274.4,11.9,Deciduous Broadleaf Forest
37,-75.72,45.4,2003-01,-12.90,204405.6,79.0,Savannas
38,-75.72,45.4,2006-01,-5.17,1802832.0,79.0,Urban and Built-up
39,-75.72,45.4,2007-01,-7.50,515034.4,79.0,Urban and Built-up
40,-75.12,38.3,2004-01,-0.10,335597.6,1.8,Savannas
41,-75.12,38.3,2005-01,2.39,476100.0,1.8,Woody Savannas
42,-75.12,38.3,2008-01,3.13,168433.6,1.8,Savannas
43,-75.12,38.3,2010-01,1.25,1117248.0,1.8,Savannas
44,-74.62,46.0,2005-01,-13.09,177744.0,191.0,Woody Savannas
45,-70.22,44.1,2010-01,-4.85,714361.6,54.9,Deciduous Broadleaf Forest
46,-68.52,48.4,2002-01,-9.15,191709.6,36.0,Water
47,-68.52,48.4,2009-01,-14.05,423200.0,36.0,Water
48,-68.52,48.4,2010-01,-5.68,165048.0,36.0,Water

In [33]:
output_file = "/content/drive/MyDrive/Colab Notebooks/Capstone Project/harmonized_dataset_ProjectMilestone01.csv"
df_monthly.to_csv(output_file, index=False)
print(f"Harmonized dataset saved to: {output_file}")

Harmonized dataset saved to: /content/drive/MyDrive/Colab Notebooks/Capstone Project/harmonized_dataset_ProjectMilestone01.csv

In [34]:
print(df_merged.shape)

(698280, 20)

In [35]:
print(f"Total records in merged dataset: {df_merged.shape[0]}")

Total records in merged dataset: 698280

In [36]:
print(f"Bird dataset records: {df_bird.shape[0]}")
print(f"Climate dataset records: {df_climate.shape[0]}")
print(f"Land dataset records: {df_land.shape[0]}")

Bird dataset records: 68105346
Climate dataset records: 12309899
Land dataset records: 74985543